@{
    ViewBag.Title = "C-Mart Store - About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>
<title>@ViewBag.Title</title>
<section class="main-content">
    <div class="row">
        <div class="span12">
            <b> C-Mart TOÀN CẦU</b>
            <p>
                Bắt đầu từ năm 2016 tại TPHCM, tới nay, C-Mart đã trở thành một trong những thương hiệu cửa hàng tiện lợi uy tín rộng khắp,
                nổi tiếng trên toàn thế giới vì chất lượng sản phẩm và dịch vụ chăm sóc khách hàng tuyệt vời với hơn 11,000 cửa hàng, bao gồm:
                Hơn 9,500 cửa hàng do công ty điều hành hoạt động tại Mỹ, Canada, Na Uy, Đan Mạch, Ai-len & Đông Âu; và
                Hơn 1,600 cửa hàng C-Mart nhượng quyền hoạt động tại 12 nước khác nhau trên thế giới, gồm: Hồng Kông- Macau, Trung Quốc, Việt Nam, Indonesia,
                Các Tiểu Vương Quốc Ả Rập Thống Nhất, Mexico, Honduras, đảo Guam, Malaysia, Philippines, Ai Cập và Costa Rica.
            </p>
            </br>
            <b> C-Mart VIỆT NAM</b>
            <p>
                C-Mart rất tự hào là chuỗi cửa hàng tiện lợi quốc tế đầu tiên tại Việt Nam. Cửa hàng đầu tiên tại Việt Nam khai trương vào ngày 24/12/2016.</br>
                C-Mart mở cửa 24 giờ một ngày và 365 ngày một năm với nhiều mặt hàng chính hãng, chất lượng tốt, giá cả phải chăng, cùng nhiều dịch vụ tiện ích như thanh toán hóa đơn, thẻ cào điện thoại…
                </br>Hệ thống C-Mart hiện nay có 200 cửa hàng tại Tp. Hồ Chí Minh, Bình Dương, Vũng Tàu và Hà Nội.
            </p>
            </br>
            <p>
                <b> “Điểm thu hút đặc biệt”</b>
                Dịch vụ ăn uống đa dạng, nhanh, ngon, bổ dưỡng  đã thực sự giúp thương hiệu C-Mart đi vào trái tim của người tiêu dùng.</br>
                <b>Cam kết của C-Mart</b>
                Cung cấp cho khách hàng mô hình dịch vụ với tiêu chí 4F (Fresh – tươi ngon; Friendly – thân thiện, Fast – nhanh chóng và Full – đầy đủ).</br>
                <b>Tầm nhìn Thương hiệu</b>
                Trở thành chuỗi cửa hàng tiện lợi được ưa chuộng nhất tại Việt Nam.
            </p>
        </div>
    </div>
</section>